<ion-content class="content-mysuggestions">
  <ion-refresher (ionRefresh)="doRefresh($event)"></ion-refresher>
  <div class="back-mysuggestion">
    <ion-row>
      <ion-col col-12>
        <h6 style="font-size: 13px; text-align: center; color: #70adff;">L'idée de la journée s'affiche ici.</h6>
        <p style="color: #303233; text-align: center; font-size: 0.9em;">{{informations}}</p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!suggestions && !informations">
      <ion-col col-5></ion-col>
      <ion-col col-2>
        <ion-spinner></ion-spinner>
      </ion-col>
      <ion-col col-5></ion-col>
    </ion-row>

    <ion-list style="background-color: white;" *ngFor="let publication of suggestions">
      <div class="full-content-mysuggestion">
        <div class="entete-suggestion">
          <ion-item no-lines no-margin no-padding>
            <ion-avatar item-start>
              <img style="margin-left : 4px;" src="http://image-lifestyle.000webhostapp.com/images/{{publication.bazar.photo}}.jpg">
            </ion-avatar>
            <strong class="item-utlisateur-nom">{{publication.bazar.entreprise.nomEntreprise}}</strong>
            <br/>
            <ion-note style="font-size : 0.8em">Vous aimez peut-être ça.</ion-note>
          </ion-item>
        </div>
        <div class="content-mysuggestion">
          <img src="http://image-lifestyle.000webhostapp.com/images/{{publication.bazar.photo}}.jpg">
        </div>
        <ion-row>
          <ion-col col-12>
            <p>Information du style</p>
          </ion-col>
        </ion-row>
      </div>

      <div class="fil-part-sugg">
        <ion-row>
          <ion-col col-4>
            <button style="float: left;" ion-button clear small icon-start (click)="doSuggerer(publication)">
              <ion-icon name='people'></ion-icon>
              SUGGERER
            </button>
          </ion-col>

          <ion-col col-4>
            <div style="text-align: center;">
              <button ion-button clear small icon-start (click)="addAsFavoris(publication)">
                <ion-icon name='ios-add-circle-outline'></ion-icon>
              </button>
            </div>
          </ion-col>

          <ion-col col-4>
            <button style="float: right;" ion-button clear small icon-start (click)="doPartage(publication)">
              <ion-icon name='share-alt'></ion-icon>
              PARTAGER
            </button>
          </ion-col>
        </ion-row>
      </div>
    </ion-list>
  </div>

</ion-content>

